<section class="container">

  <section class="row">
    <form id="new-job-form" onsubmit="app.JobsController.addJob()" class="row bg-white p-3 rounded mt-2 mb-3">
      <div class="col-12">
        <h3>Post your Job!</h3>
      </div>
      <!-- title, company, hours, rate, description -->
      <div class="mb-3 col-8 col-md-3">
        <label for="company" class="">Your Company Name</label>
        <input name="company" class="form-control" type="string" id="company" min="1" max="10" required>
      </div>
      <div class="mb-3 col-8 col-md-3">
        <label for="jobTitle" class="">Job Title</label>
        <input name="jobTitle" class="form-control" type="string" id="jobTitle" min="1" max="18" required>
      </div>
      <div class="mb-3 col-8 col-md-3">
        <label for="rate" class="">Pay Rate</label>
        <input name="rate" class="form-control" type="number" id="rate" min="15000" max="300000" required>
      </div>
      <div class="mb-3 col-8 col-md-3">
        <label for="hours" class="">Hours</label>
        <input name="hours" class="form-control" type="number" id="hours" min="1" max="60" required>
      </div>


      <div class="mb-3 col-12">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" type="text" id="description" minlength="12" maxlength="64"
          required></textarea>
      </div>
      <div class="d-flex justify-content-start mt-2"><button class="btn btn-primary px-4 p-2">Post Job <i
            class="mdi mdi-plus-circle"></i></button></div>
    </form>
  </section>




  <section id="job-cards" class="row g-3">
    <!-- <div class="col-4 p-2">
      <div class="card rounded rounded-3">
        <div class="card-header justify-items-betweem align-items-middle p-2 pb-0">
          <h3 class="text-start col-8 d-inline-block">Job Title</h3>
          <small class="text-end col-4 d-inline">Created Date</small>
          <p>Company Name</p>
        </div>
        <div class="card-body d-row justify-items-betweem align-items-middle px-2 pt-3">
          <h5 class="text-start col-8 d-inline-block">$123456<span class="fs-6 fw-light">/annual</span></h5>
          <small class="text-end col-4 d-inline">M-F 6a-8p</small>
          <p>Description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi sapiente ratione libero.</p>
        </div>
      </div>
    </div>
  </section>
</section> -->
    <!-- <div class="d-flex justify-content-between">
<span class="text-start w-auto px-3 fs-4 fw-bold">$${this.price}</span>
${this.modifyButtons}
</div> -->




    <!-- this.id = data.id
    this.company = data.company
    this.jobTitle = data.jobTitle
    this.hours = data.hours
    this.rate = data.rate
    this.description = data.description
    this.creatorId = data.creatorId
    this.creator = data.creator
    this.createdAt = data.createdAt
    this.updatedAt = data.updatedAt -->